* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}   

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;            
}

        
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
}

.nav {
    display: flex;
    font-size: 1.05rem;
    justify-content: center;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px;
}

.nav a {
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
        
.nav .logo img{
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}
        
