* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}   

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;            
}

        
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
}

/*hero section*/

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    padding: 1px 12px;
    align-items: center;
    background: rgba(255, 255, 255, 0.4); 
    z-index: 10;
    display: flex;
    justify-content: center;
    margin: 5px;

    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    
}

.nav a {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFB343;
}
        
.nav .logo img{
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}


.normal-video {
  width:100%;
  height:auto;
  display: block;
  z-index: 1;
}

/*Statistic Section*/

.stats{
    background-color: #CEB79A;
}