* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
        
body {
    display: flex;
    background: white;
    min-height: 100vh;
}
      
/* left side */
.left-side {
    flex: 1;
    background: url(images/login.png);
    background-size: 720px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    color: white;
    position: relative;
}
        
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
}
        
.logo img {
    width: auto;
    height: 70px;
    margin-right: 20px;
}

.tagline {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    align-self: center;
}
        
/* Right Side */
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background: white;
}
        
.form-container {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    background: #CEB79A;
    padding: 40px;
    border-radius: 40px;
}
        
.form-header {
    margin-bottom: 40px;
}
        
.form-header h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}
        
.form-header p {
    color: #666;
    font-size: 14px;
}
        

