body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #E3D2BD;
    background-image: ;
}

.fondamento-regular {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.fondamento-regular-italic {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}

.form-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 6px;
    display: none;
    /* start hidden */
}

form {
    width: 60%;
    margin: 2% auto 3% auto;
    padding: 30px 100px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(84, 75, 65, 0.92);
    border: 2px solid #E3D2BD;
    border-radius: 10px;
}


/*  LOG IN TITLE  */
h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: "Fondamento", cursive;
}

h2 {
    font-size: 30px;
    font-family: Verdana;
    color: #E3D2BD;
    margin: 5px 0px 0px 0px;
}

p {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

/*  INPUT FIELDS  */
label {
    text-align: left;
    float: left;
    font-size: 15px;
    color: #E3D2BD;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    background-color: #FEFBFB;
    border: none;
    border-radius: 5px;
    /*border-bottom: 2px solid #242424;*/
    outline: none;
    box-sizing: unset;
}



.card-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.card-description {
    padding: 12px;
    font-size: 14px;
    color: #333;
}

/*  REMEMBER ME  */
.miner {
    font-size: 13px;
    color: #505050;
    padding: 5px 0px 10px 10px;
    width: 100%;
}

input[type=checkbox] {
    padding: 10px;
    margin: auto;
}

/*  BUTTON  */
button {
    width: 20%;
    padding: 12px 10px;
    margin: 15px 40px;
    background-color: #ffffffad;
    color: #544B41;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #FEFBFB;
    color: #544B41;
}

/*  FORGET PASSWORD  */
.forget {
    color: #505050;
    text-decoration: none;
}

.forget:hover {
    color: #030025;
}

/*  SIGN UP  */
.donot {
    color: #505050;
}

.signup {
    color: #030025;
    text-decoration: none;
}

.signup:hover {
    color: #ffcc00;
}